body {
    font-family: sans-serif;
    text-align: center;
    margin-top: 2rem;
}

.controller {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.driving, .admin {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.steering {
    display: flex;
    gap: 0.5rem;
}

button {
    min-width: 120px;
    min-height: 60px;
    font-size: 1.1rem;
    cursor: pointer;
}
